.all-nav {
    display: flex;
    justify-content: space-evenly;
    gap: 715px;
    margin-top: 60px;
    align-items: center;
}

.go-link {
    font-size: 30px;
    text-decoration: none;
    cursor: pointer;
}

.home-about {
  font-size: 20px;
}

.about-link {
    margin-left: 25px;
    text-decoration: none;
    cursor: pointer;
}

.home-link {
    text-decoration: none;
    cursor: pointer;
}